* text=auto eol=lf

*.cs text diff=csharp
*.shader text
*.compute text
*.hlsl text
*.unity text merge=unityyamlmerge diff
*.prefab text merge=unityyamlmerge diff
*.mat text merge=unityyamlmerge diff
*.asset text merge=unityyamlmerge diff
*.meta text merge=unityyamlmerge diff

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary

